body{
    background-image:url(assets/backgroundg.png);
    background-size: fill;
    /* background-repeat: no-repeat; */
}

#keyboard{
    width:850px;
    bottom:-20%;
    /* bottom:50px; */
    position: fixed;
}

#cactus{
    width: 100%;
    bottom:0px;
    border:0px;
    position: fixed;
}

#computer1{
    width:300px;
    left: 35%;
    top: 25%;
    position: fixed;
}

#computer2{
    width:300px;
    right:10%;
    top:15%;
    position:fixed;
}

#leaves{
    position:fixed;
    width:70%;
    /* top:10px; */
    bottom: 0px;
    left: 350px;
}

#text{
    position: fixed;
    width: 50%;
    top: 21%;
}